<footer id="footer">
  <section class="container">
    <div class="footer-nav d-flex justify-content-md-between flex-wrap">
      <nav class="footer-nav-list">
        <ul>
           <li><img src="/assets/img/logo-1.png" alt="" style="width:200px;"></li>
           <li>Beats cardiology provides <br> the exports cradiovascular <br> with an individualized</li>
        </ul>
      </nav>

       <nav class="footer-nav-list">
        <ul>
          <h5>Services</h5>
          <li><i class='bx bx-chevron-right'></i><a href="">Web Desiginig</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Web Development</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Digitel Marketing</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Graphic Desining</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Software Development</a></li>
        </ul>
      </nav>
      
      <nav class="footer-nav-list">
        <ul>
          <h5>Contact us</h5>
          <li><i class='bx bx-chevron-right'></i><a href="">7713 San Jacinto Pl #200,<br>
           Plano, TX 75024</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Office Phone (469) 409-2601</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Billing (205) 880-7575 </a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Fax (469) 409-2570</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">info@beatscardiology.com </a></li>
          <h5 class="">Hours of Operations</h5>
          <li><i class='bx bx-chevron-right'></i><a href="">Monday-Friday</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Open Select Saturdays</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">8:00AM TO 6:00PM</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Closed Sunday</a></li>
        </ul>
      </nav>

      <nav class="footer-nav-list">
        <ul>
          <h5>Quick Links</h5>
          <li><i class='bx bx-chevron-right'></i><a href="">About Us</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Team</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">For Patients</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Services</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Conditions</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Bill pay</a></li>
          <li><i class='bx bx-chevron-right'></i><a href="">Locations</a></li>
        </ul>
      </nav>

      
      <div class="qr-code">
        <img src="/assets/img/qrcode.png" style="width:150px; margin-top: -6px;" alt="">
        <h5 class="text-center">Patient Portel</h5>
      </div>


    </div>
  </section>

<div class="nav-links"> 
  <div id="copyright" class="container pt-3">
    <p>Beatscardiology@2022-23 All Right-Reserved</p>
      <div class="nav-icons">
        <i class='bx bxl-facebook-circle'></i>
        <i class='bx bxl-linkedin-square'></i>
        <i class='bx bxl-instagram-alt' ></i>
        <i class='bx bxl-twitter'></i>
        <span class="powerd-by">Powered by <a href="#" class="text-decoration-underline" >tensaw.health</a></span>
      </div>
 </div>
</div>











</footer>









