{# *** TOPBAR *** #}
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i>
            <a href="mailto:contact@example.com">info@beatscardiology.com</a>
            <i class="bi bi-phone"></i>
            (469) 409-2601
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="#" class="twitter">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="facebook">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="#" class="linkedin">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>
</div>
{# *** HEADER *** #}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto">
            <img src="/assets/img/logo-1.png" class="h-100" alt=""/>
        </h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li>
                    <a class="nav-link scrollto active" href="#hero">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span>About The Poviders</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li class="dropdown">
                            <a href="#"> Brian G. Schwartz MD, FACC</a>
                        </li>
                        <li>
                            <a href="#">V. Ram Aligeti MD, FACC </a>
                        </li>
                    </ul>
                </li>
                 <li class="dropdown">
                    <a href="#">
                        <span>Condition We Treat</span>
                        <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">Congestive heart failure</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">High blood pressure</a>
                        </li>
                        <li>
                            <a href="#">Heart attack</a>
                        </li>
                         <li>
                            <a href="#">Chest Pain</a>
                        </li>
                         <li>
                            <a href="#">Stress Test</a>
                        </li>
                         <li>
                            <a href="#">Echocardiogram</a>
                        </li>
                         <li>
                            <a href="#">Arterial & Venous Lower Extremity Doppler</a>
                        </li>
                         <li>
                            <a href="#">Carotid Doppler Ultrasound</a>
                        </li>
                         <li>
                            <a href="#">Abdominal Vascular Ultrasound</a>
                        </li>
                        <li>
                            <a href="#">Renal Artery Doppler Ultrasound</a>
                        </li>
                        <li>
                            <a href="#">Pacemaker & Defibrillato</a>
                        </li>
                        <li>
                            <a href="#">External defibrillator</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link scrollto" href="#departments">Patient Forms</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="#doctors">Blog</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="#doctors">Resourses</a>
                </li>
                
               
                <li>
                    <a class="nav-link scrollto" href="#contact">Contact</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a href="#appointment" class="appointment-btn scrollto">
            <span class="d-none d-md-inline">Make an</span>
            Appointment</a>
    </div>
</header>