---
title : Homepage
layout : 'base.njk'
---

<!--------xx-------- Hero Section Starts --------xx--------->
<section id="hero" class="d-flex align-items-center">
  {# <div class="banner-video">
  <video autoplay muted loop>
    <source src="assets/img/video-1.mp4">
  </video>
  <div class="content">
    <h1>BeatsCardiology</h1>
    <h2>Cardiology Experts
    </h2>
    <p>Beats Cardiology provides
     expert cardiovascular care with an individualized
      <br> comprehensive approach to cardiac and vascular disease.</p>
  </div> #}
  
   <div class="container">
    <h1>BeatsCardiology</h1>
    <h2>Cardiology Experts
    </h2>
    <p>Beats Cardiology provides
     expert cardiovascular care with an individualized
      <br> comprehensive approach to cardiac and vascular disease.</p>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
    <a href="#about" class="btn-about-us scrollto">About us</a>
  </div> 
  </div>
</section>

<!--------xx-------- Hero Section Ends --------xx--------->

<!--------xxxxxxxxxxx---------------------xxxxxxxxxx---------->

<!--------xx-------- Main section of the page --------xx-------->

  <main id="main"> 
  <!--------xxxxxxxxxxx---------------------xxxxxxxxxx---------->

  <!--------xx-------- Button Section Starts --------xx--------->
    <section id="why-us" class="why-us"> <div class="container">
      <div class="btn-section">
        <div class="why-us-btn is-flex">
          <a href="#" class="btn--primary">
            <span class="bx bxs-video btn-for-links"></span>Join Televist</a>
          <a href="#" class="btn--primary">
            <span class='bx bx-calendar-check btn-for-links'></span>
            Make an Appoinmet</a>
          <a href="#" class="btn--primary">
            <span class='bx bxs-credit-card btn-for-links'></span>
            Pay your Bill</a>
          <a href="#" class="btn--primary">
            <span class='bx bx-user-circle btn-for-links'></span>
            Patient Portel</a>
        </div>
      </div>
    </div>
  </section>

  <!--------xx-------- Button Section Ends --------xx-------->

  <!--------xxxxxxxxxxx---------------------xxxxxxxxxx---------->

  <!--------xx-------- Short info Section Stats --------xx-------->

    <section id="about" class="short-info"> <div class="short-info-img">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img
            src="https://images.unsplash.com/photo-1628348070889-cb656235b4eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="">
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <div class="col-md-1"></div>
          <div class="short-info-content">
            <h2>We welcome your family to ours</h2>
            <p class="text-align-start">Lorem, ipsum dolor sit amet consectetur amet consectetur
              <br> Quo ipsum aut ad, rem expedita similique <br> reiciendis excepturi</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--------xx-------- Short info Section Ends --------xx-------->

  <!---------xxxxxxxxxxx---------------------xxxxxxxxxx----------->

  <!--------xx-------- Providers  Section Starts --------xx-------->

    <section id="counts" class="providers"> <div class="container">
      <div class="section-title text-center">
        <h2>Providers</h2>
      </div>
      <div class="provider-info is-flex mt-5">
        <div class="provider-img is-flex">
          <img src="/assets/img/pic-1.png" alt="Doctor Image"/>
          <h5>Brian G. Schwartz MD, FACC</h5>
          <p class="text-center">Preventive cardiology</p>
          <a href="" class="btn--secondery">Know More</a>
        </div>
        <div class="provider-img is-flex">
          <img src="/assets/img/pic-2.jpg" alt="Doctor image">
          <h5>V. Ram Aligeti MD, FACC
          </h5>
          <p class="text-center">cardiovascular diseases</p>
          <a href="" class="btn--secondery">Know More</a>
        </div>
      </div>
    </div>
  </section>

  <!--------xx-------- Providers  Section Ends --------xx-------->

  <!---------xxxxxxxxxxx---------------------xxxxxxxxxx---------->

  <!--------xx-------- Services  Section Stars --------xx-------->

    <section id="services" class="services"> 
      <div class="container-my">
        <div class="section-title text-center">
          <h2>Servises</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta natus itaque <br> possimus accusantium aliquid et
          odio quas! Illum expedita porro</p>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem non facere ipsum! Aspernatur omnis magnam
                corporis quod, sequi, est culpa amet adipisci placeat consequatur accusantium quos? Odit dolorum possimus omnis.</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit animi id incidunt aliquid delectus
                aut, nostrum neque? Eligendi eius fugit asperiores illum aspernatur impedit possimus, nam error dicta laboriosam!</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolore quia perferendis pariatur molestias
                necessitatibus! Inventore quaerat harum eius cum quibusdam nostrum non provident numquam voluptate, odit soluta rationeitaque.</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, vel necessitatibus? Nobis assumenda magni, quaerat
                nesciunt quos error? Amet voluptatibus facere eum enim eos quia sit totam voluptates optio recusandae.</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A laborum eligendi itaque ea, ad deserunt corrupti, et nisi
                  incidunt perferendis amet obcaecati modi! Voluptatem dolore corrupti nostrum amet dolor eaque!</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam ab accusamus minus cumque quasi. Quibusdam
                labore impedit asperiores cupiditate omnis, aliquid eligendi id quaerat sint tenetur dolorem non, sapiente libero.</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="view-all-btn is-flex">
      <a href="" class="btn--secondery">View All</a>
    </div>
  </div>
</section>

  <!--------xx-------- Services  Section Ends --------xx-------->

  <!---------xxxxxxxxxxx---------------------xxxxxxxxxx----------->

  <!--------xx-------- Testomony  Section Stars --------xx-------->
    
  <section id="testimonies">
    <div class="container-my">
      <div class="section-title text-center">
        <h2>Happy Stories</h2>
        <p>Magnam dolores commodi suscipit. consequatur ex aliquid <br> fuga eum quidem. Sit sint. Quisquam quos quisquam</p>
      </div>
    
      <div class="testimonies is-flex mt-5">
        <div class="testimonial">
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet
              hendrerit nisi vehicula.
            </p>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <h6>John Honnai</h6>
          </div>
        </div>

        <div class="testimonial">
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
              <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet
              hendrerit nisi vehicula.</p>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <h6>John Honnai</h6>
          </div>
        </div>

        <div class="testimonial">
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet
              hendrerit nisi vehicula.
            </p>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <h6>John Honnai</h6>
          </div>
        </div>

    </div>
  </div>
  </section>

  <!--------xx-------- Testomony  Section Ends --------xx-------->

  <!---------xxxxxxxxxxx---------------------xxxxxxxxxx----------->

  <!--------xx-------- Condition We Treat  Section Stars --------xx-------->

    <section  class="condition">
     <div class="container">
      <div class="section-title text-center">
        <h2>Condtion we traet</h2>
        <p>Magnam dolores commodi suscipit. consequatur ex aliquid <br> fuga eum quidem. Sit sint. Quisquam quos quisquam</p>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center ">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem non facere ipsum! Aspernatur omnis magnam
                corporis quod, sequi, est culpa amet adipisci placeat consequatur accusantium quos? Odit dolorum possimus omnis.</p>
                <a href="" class="btn--secondery">View All</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit animi id incidunt aliquid delectus
                aut, nostrum neque? Eligendi eius fugit asperiores illum aspernatur impedit possimus, nam error dicta laboriosam!</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem non facere ipsum! Aspernatur omnis magnam
                corporis quod, sequi, est culpa amet adipisci placeat consequatur accusantium quos? Odit dolorum possimus</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg4 mt-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="card-title text-center">
                <h5>Heart screnning</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit animi id incidunt aliquid delectus
                aut, nostrum neque? Eligendi eius fugit asperiores illum aspernatur impedit possimus, nam error dicta laboriosam!</p>
                <a href="" class="btn--secondery">Click Here</a>
              </div>
            </div>
          </div>
        </div>
     

      <div class="view-all-btn is-flex">
        <a href="" class="btn--secondery">View All</a>
      </div>

      </div>
    </section>

    <!--------xx-------- Condition We Treat Section Ends --------xx-------->

    <!---------xxxxxxxxxxx---------------------xxxxxxxxxx----------->

    <!--------xx-------- Blogs Section Stars --------xx-------->
    
      <section id="doctors" class="blogs"> <div class="container-my">
        <div class="section-title text-center">
          <h2>Blogs</h2>
        </div>

        <div class="blogs-info mt-5">
          <div class="row">
            <div class="col-md-4">
              <img src="https://images.unsplash.com/photo-1585421514738-01798e348b17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1lZGljYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="">
                <h5>Blog Title</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ut autem culpa consectetur, consequuntur nulla</p>
                <a href="" class="">Read More</a>
               </div>
               <div class="col-md-4">
                 <img src="https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=60" alt="">
                 <h5>Blog Title</h5>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ut autem culpa consectetur, consequuntur nulla</p>
                 <a href="" class="">Read More</a>
             </div>
             <div class="col-md-4">
              <img src="https://images.unsplash.com/photo-1527613426441-4da17471b66d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=60" alt="">
                <h5>Blog Title</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ut autem culpa consectetur, consequuntur nulla</p>
                <a href="" class="">Read More</a>
            </div>
       
          </div>
        </div>
      </div>
    </section>

    <!--------xx-------- Blogs Section Ends --------xx-------->

    <!---------xxxxxxxxxxx---------------------xxxxxxxxxx----------->

    <!--------xx-------- Schedule appoinment Section stars --------xx-------->

    <section id="faq" class="appoinment-today"> <div class="container">
      <div class="appoinment-today-title">
        <h2 class="text-center">Schedule Your Appoinment Today</h2>
        <div class="view-all-btn is-flex">
          <a href="" class="apmt-btn">View All</a>
        </div>
      </div>
    </div>
  </section>
    
  <!--------xx-------- Schedule appoinment Section Ends --------xx-------->
    
  <!---------xxxxxxxxxxx---------------------xxxxxxxxxx----------->

  <!--------xx-------- s --------xx-------->
  </main>
  <!--------xx-------- Main Section Ends --------xx-------->
 